<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=deivce-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
    <title>常见问题</title>
    <%-include("../commonJs.html")%>
    <%-include("../commonCss.html")%>
    <link rel="stylesheet" href="stylesheets/page/SafeguardManagement/DetailInfoList.css">
    <script type="text/babel">
        $(document).ready(function(){
            $('.header ').on('vclick', '.icon-carat-b-onwer', function () {
                let formAction =  "detailInfoList";
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                var input1 = document.createElement("input");
                input1.type = "text";
                input1.name = "policyPersonId";
                input1.value = "<%=policyPersonId%>";
                form1.appendChild(input1);
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();
            });
        })
    </script>
</head>
<body>
<div class="header">
    <span class="icon-carat-b-onwer backIcon" ></span>
    <span class="title">常见问题</span>
</div>
<div class="bodyContent">
    <% planQuestionAnswerList.forEach(function(item){%>
    <div>qusetion:<%=item.question%></div>
    <div>answer:<%=item.answer%></div>
    <% })%>
</div>

</body>
</html>