<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=deivce-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
    <title>历史保障列表</title>
    <%-include("../commonJs.html")%>
    <%-include("../commonCss.html")%>
    <link rel="stylesheet" href="stylesheets/page/SafeguardManagement/DetailInfoList.css">
    <script type="text/babel">
        $(document).ready(function () {
            //回退
             /*************** start  ***************/
            $('.header').on('click', '.icon-carat-b-onwer', function () {
                var thisJquery = this;
                var action = $(thisJquery).attr("form-action");
                window.location.href = action;
            });
             /*************** end  ***************/
//            window.open("http://dev-test-oss-public.oss-cn-beijing.aliyuncs.com/c647736c36544a569b57def2fd88b6c8");
//            window.open("http://localhost:8880/generic/web/viewer.html?file=http://dev-test-oss-public.oss-cn-beijing.aliyuncs.com/c647736c36544a569b57def2fd88b6c8")
            //打开pdf
             /*************** start  ***************/
            $('.detailInfoList').on("click","a" ,function(){
                window.location.assign($(this).attr("url"));
            });
             /*************** end  ***************/

            //常见问题
            /*************** start  ***************/
            $('.detailInfoList').on('vclick','.commonProblem',function(){
                let thisJquery = this;
                let planId = $(thisJquery).attr("planId");
                let formAction;
                formAction =  "policyGetPlanQuestionAnswer";
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                var input0 = document.createElement("input");
                input0.type = "text";
                input0.name = "policyPersonId";
                input0.value = "<%=policy.policyPersonId%>";
                var input1 = document.createElement("input");
                input1.type = "text";
                input1.name = "planId";
                input1.value = planId;
                form1.appendChild(input0);
                form1.appendChild(input1);
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();
            });
            /*************** end  ***************/


            $(".picRow").on("vclick",".col1" , function(){
                let thisJquery  = this;
                var thisjquery = this;
                var needCheck = $(thisjquery).attr("needCheck");
                var formData = new FormData();
                if(needCheck){
                    $.ajax({
                        url: needCheck,
                        type: 'POST',
                        data: formData,
                        async: true,
                        cache: false,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: (data) => {
                            if(data.ret == "0"){
                                submitFunction(thisjquery);
                            }else{
                                $(".menu").after(` <div class="infoText"><span>`+data.msg+`</span></div>`);
                                $(".infoText").show();
                                setTimeout(function(){
                                    $(".infoText").remove();
                                },2000);
                            }
                        },
                        error:  (data) => {
                            alert(data.msg);
                        }
                    });
                }else{
                    submitFunction(thisjquery);
                }
            });
            function submitFunction(thisjquery){
                var formAction =  $(thisjquery).attr("form-action");
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                $("#VirtualForm").css("display", "none");
                var input0 = document.createElement("input");
                input0.type = "text";input0.name = "policyPersonId";input0.value = $(thisjquery).attr("data-value");
                form1.appendChild(input0);
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();
            }
        });
    </script>
</head>
<body>
<div class="header">
    <span class="icon-carat-b-onwer backIcon" form-action="SafeguardList"></span>
    <span class="title">保障详情</span>
</div>
<div class="bodyContent">
    <% if(policy.notice){%>
    <div class="detailInfoList">
        <span class="outerContent">
            <span class="topContent">
                * <%=policy.notice%>
               </span>
            <span class="topProtecting"></span>
        </span>
    </div>
    <% } %>
    <div class="detailInfoList">
        <span class="outerContent">
            <span class="content"><%=policy.planName%></span>
            <span class="content">电子保单号：<%=policy.policyNo%></span>
            <span class="content">由<%=policy.insuranceGroupName%>承保</span>
            <span class="protecting rentouxiang"></span>
        </span>
    </div>
    <div class="detailInfoList">
         <span class="outerContent">
            <span class="content">被保险人   <%=policy.policyPersonName%></span>
            <span class="content">保障期限   <%=policy.policyStartDate%>至<%=policy.policyEndDate%></span>
             <span class="content">相关条款   <% policy.planDocumentList.forEach(function(item){ %><a href="<%=item.planDocumentUrl%>"
                                                                                                  target="_blank"   >《<%=item.planDocumentName%>》</a><% }) %></span>
        </span>
    </div>
    <div class="detailInfoList">
        <span class="outerContent">
            <% policy.planGroupQuotaConfList.forEach(function(item){
            item = item.replace(/!/g,"-")%>
                <span class="content">* <%=item %> </span>
            <% })%>
            <!--<span class="content">*一次性伤残补助金最高赔付18万元</span>-->
            <!--<span class="content">*误工费补偿最高365天，每日150元</span>-->
            <!--<span class="content">*意外医疗最高赔付1万元，突破医保2000元</span>-->
            <!--<span class="content">*投保年龄18至65周岁</span>-->
            <span class="leftArrow youjiantou"></span>
        </span>
    </div>
    <div class="detailInfoList">
        <div class="picRow">
            <span class="col1"  data-value="<%=policy.policyPersonId%>" needCheck="checkIsCanClaim" form-action="ApplyClaim" >
                <span class="ClaimApply ApplyClaim"></span>
                <span class="">理赔申请</span>
            </span>
            <span class="col2">
                <span class="RelatedClaims SecurityCenter"></span>
                <span class="">相关赔案</span>
            </span>
        </div>
    </div>
    <div class="detailInfoList">
        <span class="outerContent">
            <span class="content">理赔流程</span>
            <span class="more youjiantou"></span>
        </span>
    </div>
    <div class="detailInfoList">
        <span class="outerContent">
            <span class="content commonProblem" planId = "<%=policy.planId%>">常见问题</span>
            <span class="more youjiantou"></span>
        </span>
    </div>
</div>
</body>
</html>