.shark{
    display: none;
    position: fixed;
    font-size: 0.28rem;
    padding: 0.4rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
}
.shark span{
    display: inline-block;
    padding: 0.3rem;
    background-color: black;
    color: #fff;
    text-shadow: none;
    opacity: 0.7;
    border-radius: 5px;
}
.sharkSpan{
    animation:shark 100ms linear;
    animation-iteration-count:10;
    animation-direction:alternate;

    /* Safari and Chrome */
    -webkit-animation:shark 100ms linear;
    -webkit-animation-iteration-count:10;
    -webkit-animation-direction:alternate;
    /* Safari and Chrome */
}
@keyframes shark
{
    0%   {transform: translateX(-3%)}
    100% {transform: translateX(3%)}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%   {transform: translateX(-3%)}
    100% {transform: translateX(3%)}
}