.bodyContent .littleTitle,.bodyContent .pdf{
    margin-left: 0.4rem;
    height: 0.4rem ;
    line-height: 0.4rem;
}

.bodyContent .littleTitle{
    padding-top: 0.4rem;
    color: #FF9000;
    font-size: 0.28rem;
}
.bodyContent .pdf{
    color: #7acc1e;
    font-size: 0.24rem;
}

#pdfShow{
    z-index: 871229;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#pdfShow .pdfHeader{
    position: absolute;
    top: 0;
    width: 100%;
    background: #208bd8 -webkit-linear-gradient(top,#0f79d1,#3ea9e4);
    z-index: 9871229;
    height: 0.8rem;
    font-size: 0.32rem;
}
#pdfShow .pdfHeader .pdfTitle{
    width: 100%;
    text-align: center;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #FFFFFF;
}
#pdfFrame{
    z-index: 871229;
    border: none;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding-top: 0.8rem;
    width: 100%;
    height: 100%;
}