.icon:before{
    color: #a1a1a1;
    display: block;
    text-align: center;
    font-family: fullIconAll;
    font-size: 0.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    box-sizing: border-box;
}
.passwordShow ,.passwordHide{
    width: 0.4rem;
    box-sizing: border-box;
    transform: translateX(-100%);
    position: absolute;
}
.passwordShow:after ,.passwordHide:after{
    color: #a1a1a1;
    font-family: fullIconAll;
    font-size: 0.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
}
.passwordShow:after{
    content: "\f070";
}
.passwordHide:after{
    content: "\f06e";
}
.iconPhone:before{
    content: "\f10a";
}
.iconPassword:before{
    content: '\f023';
}
.bodyContent .littleTip img{
    width:100%;
}
.personalInfo .ui-grid-a .ui-block-a{
    width: 10%;
}
.personalInfo .ui-grid-a .ui-block-b{
    width: 90%;
}
.personalInfo .oneline,.personalInfo .ui-grid-a .ui-block-a ,
.personalInfo .ui-grid-a .ui-block-b ,.personalInfo .ui-grid-a .ui-block-c {
    height: 0.8rem;
    line-height: 0.8rem;
}
.personalInfo .oneline{
    box-sizing: border-box;
    border-bottom: 0.02rem solid #a1a1a1;
    margin: 0 0.2rem;
}
.personalInfo .input input{
    width: 100%;
    box-sizing: border-box;
    box-shadow:  none;
    border: 0px ;
    outline:  none;
    background: none;
    padding: 0 0.4rem 0 0.04rem;
}
.loginDiv , .forgetPasswordDiv ,.registerDiv{
    padding: 0.1rem 0.4rem;
}
.loginDiv{
    text-align: center;
}
.loginDiv .loginButton{
    background-color: #a1a1a1;
    color: #ffffff;
    display: block;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 5px;
}
.forgetPasswordDiv , .registerDiv{
    text-align: right;
}
.forgetPasswordDiv .forgetPasswordLink ,.registerDiv  .registerLink{
    color: #a1a1a1;
    font-size: 0.28rem;
    height: 0.4rem;
    line-height: 0.4rem;
}