<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>常用信息-银行</title>
    <%-include("../commonJs.html")%>
    <%-include("../commonCss.html")%>
    <link rel="stylesheet" href="stylesheets/page/CommonInformation/BankInformation.css">
    <script type="text/babel">
        $(document).ready(function () {

            //回退
            /*************** start  ***************/
            $('.header').on('click','.icon-carat-b-onwer',function (e) {
                let thisJquery = this;
                let action =$(thisJquery).attr("form-action");
                window.location.href = action;
            });
            /*************** end  ***************/

            //人员账号地址
            /*************** start  ***************/
            $('.bodyContent .InfoList .row1').on('click', '.col1 , .col2 , .col3', function (e) {
                let thisJquery = this;
                let formAction;
                formAction = $(thisJquery).attr("form-action");
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                $("#VirtualForm").css("display", "none");
                var input0 = document.createElement("input");
                input0.type = "text";
                input0.name = "creator";
                input0.value = "{{creator}}";
                form1.appendChild(input0);
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();
            });
            /*************** end  ***************/

            //添加银行卡
            /*************** start  ***************/
            $('.addNew').on('click',function () {
                $("body").append('<div class="ui-popup-screen ui-overlay-a in popupDialog-screen" id="screen"></div>');
                let formAction ="AddBankInformation";
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                $("#VirtualForm").css("display", "none");
                var input0 = document.createElement("input");
                input0.type = "text";
                input0.name = "creator";
                input0.value = "{{creator}}";
                form1.appendChild(input0);
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();
            });
            /*************** end  ***************/

            //上拉加载逻辑
            /*************** start  ***************/
            var index = 1;
            function readd() {
                var formData = new FormData();
                formData.append("pageNum", index);
                $.ajax({
                    url: "getUserBankList",
                    type: 'POST',
                    data: formData,
                    async: true,
                    cache: false,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: (data) => {
                        if (data.ret == "0") {
                            $.each(data.userBankList, (idx, obj) => {
                                if(obj.isDefault ){
                                    $('.BankOuterScroller .scroll').append(`
                                        <div class="bankList" open-id='${obj.id}'>
                                            <span class="line">
                                                <span class="name">${obj.bankAccount}</span> <span class="default">默认</span>
                                            </span>
                                            <span class="line">
                                                <span class="bankName">银行</span> <span class="bankNameInfo">${obj.bankName}</span>
                                            </span>
                                            <span class="line">
                                                <span class="bankType">类型</span> <span class="bankTypeInfo">${obj.accountType}</span>
                                            </span>
                                            <span class="line">
                                                <span class="bankCard">账号</span> <span class="bankCardInfo">${obj.bankCard}</span>
                                            </span>
                                        </div>
                                        `);
                                }else{
                                    $('.BankOuterScroller .scroll').append(`
                                    <div class="bankList"  open-id='${obj.id}'>
                                        <span class="line">
                                            <span class="name">${obj.bankAccount}</span>
                                        </span>
                                        <span class="line">
                                            <span class="bankName">银行</span> <span class="bankNameInfo">${obj.bankName}</span>
                                        </span>
                                        <span class="line">
                                            <span class="bankType">类型</span> <span class="bankTypeInfo">${obj.accountType}</span>
                                        </span>
                                        <span class="line">
                                            <span class="bankCard">账号</span> <span class="bankCardInfo">${obj.bankCard}</span>
                                        </span>
                                    </div>
                                        `);
                                }

                            });
                            $('.BankOuterScroller').css('height',$('.BankOuterScroller .scroll').css('height'));
                            if (data.userBankList.length < 10) {
                                console.log(data.userBankList);
                                updownloading.upFinish();
                            }
                            index++;
                        } else {
                            updownloading.upFinish();
                        }

                    },
                    error: (data) => {
                        //alert("error");
                    }
                });
            }
            readd();
            updownloading.init({
                outerScroller: '.BankOuterScroller',
                downLoadingStatus:false,
                upLoadingStatus:true,
                upFunction:readd
            });
            /*************** end  ***************/

            //点击银行卡查看事件
            /*************** start  ***************/
            $('.BankOuterScroller').on('click','.bankList',function () {
                let thisJquery = this;
                let openId = $(thisJquery).attr("open-id") ;
                $("body").append('<div class="ui-popup-screen ui-overlay-a in popupDialog-screen" id="screen"></div>');
                let formAction ="CheckBankInformation";
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                $("#VirtualForm").css("display", "none");
                var input1 = document.createElement("input");
                input1.type = "text";
                input1.name = "id";
                input1.value = openId;
                form1.appendChild(input1);
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();

            });
            /*************** end  ***************/
        });
    </script>
</head>
<body>
<div class="header">
    <div class="icon-carat-b-onwer backIcon" form-action="index"></div>
    <span class="title">常用信息</span>
</div>
<div class="bodyContent">
    <div class="InfoList">
        <div class="row1">
            <span class="col1" form-action="PersonInformation">人员</span><span
                class="col2" form-action="BankInformation">账号</span><span
                class="col3" form-action="AddressInformation">地址</span>
        </div>
        <div class="row2">
            <span class="col1"></span><span class="col2"></span><span class="col3"></span>
        </div>

    </div>
    <div class="addNew">
        <span><span class="icon-add-onwer"></span>新增银行账号</span>
    </div>

    <div class="BankOuterScroller">
        <div class = 'scroll'>
        </div>
    </div>
</div>

</body>
</html>