<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>常用信息-人员</title>
    <%-include("../commonJs.html")%>
    <%-include("../commonCss.html")%>
    <link rel="stylesheet" href="stylesheets/page/CommonInformation/PersonAddInformation.css">
    <script type="text/babel">
        $(document).ready(function () {
            //初始化证件类型
            /*************** start  ***************/
            var identityType = ['身份证', '护照'];
            var MobileSelect1 = new MobileSelect({
                trigger: '#identityType',
                title: '证件类型',
                wheels: [
                    {data: identityType}
                ],
                position: [0] //初始化定位 打开时默认选中的哪个  如果不填默认为0
            });
            $('#identityType').html(identityType[0]);
            /*************** end  ***************/

            //初始化性别
            /*************** start  ***************/
            var gender = ['男', '女'];
            var MobileSelect2 = new MobileSelect({
                trigger: '#gender',
                title: '性别',
                wheels: [
                    {data: []}
                ],
                position: [0], //初始化定位 打开时默认选中的哪个  如果不填默认为0,
                callback:function(idx , data ){
                    console.log(data[0]);
                }
            });
            $('#gender').html(gender[0]);
            /*************** end  ***************/
            MobileSelect2.setCascade(true)
            MobileSelect2.updateWheels( [{id:'男1',value:"男2"}, {id:'女1',value:"女2"}])


            //初始化证件有效期
            /*************** start  ***************/
            var MobileSelect3 = new MobileSelect({
                trigger: '#validDate',
                title: '证件有效期',
                wheels: [
                    {data: calDate.init({
                        startDate:1940,
                        endDate:2030,
                        status : 1
                    })}
                ],
                position: [0][0][0] //初始化定位 打开时默认选中的哪个  如果不填默认为0
            });
            $('#validDate').html("1940年 1月 1日");
            /*************** end  ***************/

            //初始化出生日期
            /*************** start  ***************/
            var MobileSelect4 = new MobileSelect({
                trigger: '#dateOfBirth',
                title: '出生日期',
                wheels: [
                    {data: calDate.init({
                        startDate:1900,
                        endDate:new Date().getFullYear(),
                        status : 99
                    })}
                ],
                position: [0][0][0] //初始化定位 打开时默认选中的哪个  如果不填默认为0
            });
            $('#dateOfBirth').html("1940年 1月 1日");
            /*************** end  ***************/

            //取消
            /*************** start  ***************/
            $('.header').on('click','.header-cancel',function (e) {
                let thisJquery = this;
                let formAction;
                formAction = $(thisJquery).attr("form-action");
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                $("#VirtualForm").css("display", "none");
                /*var input0 = document.createElement("input");
                input0.type = "text";
                input0.name = "creator";
                input0.value = "{{creator}}";
                form1.appendChild(input0);*/
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();
            });
            /*************** end  ***************/

            //保存
            /*************** start  ***************/
            $('.header').on('click','.header-save',function (e) {
                let thisJquery = this;
                let hasError = false; // 是否有错误
                let name = formatConversion.SaferHTML( $.trim( $('#name').val()) ) ;
                let identityType = $("#identityType").html();
                let identityNumber = formatConversion.SaferHTML( $.trim( $('#identityNumber').val()) ) ;
                let phone = formatConversion.SaferHTML( $.trim( $('#phone').val()) ) ;
                let email = formatConversion.SaferHTML( $.trim( $('#email').val()) ) ;
                let isDefault = $('#isDefault').val();
                let nameCheck = /^[\u4e00-\u9fa5]{2,15}$/ ;
                let phoneCheck = /^(1(3|5|7|8)\d{9})$/;
                let identityNumberCheck = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;//身份证号格式校验
                let emailCheck = /^([a-zA-Z0-9]){1}[a-zA-Z0-9_\.-]*([a-zA-Z0-9])@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+){0,10}(.com|.cn|.net|.org)$/;
                if(name == "" ){
                    $('#nameError').html("中文姓名不能为空");
                    $('#nameError').show();
                    hasError = true;
                }else if(!(nameCheck.test(name) )){
                    $('#nameError').html("中文姓名不合法");
                    $('#nameError').show();
                    hasError = true;
                }
                if(phone == "" ){
                    $('#phoneError').html("手机号码不能为空");
                    $('#phoneError').show();
                    hasError = true;
                }else if(!(phoneCheck.test(phone))) {
                    $('#phoneError').html("手机号码不合法");
                    $('#phoneError').show();
                    hasError = true;
                }
                if(identityType == "身份证") {
                    if(identityNumber != "" && !(identityNumberCheck.test(identityNumber))) {
                        $("#identifyNubmerError").html("证件号码不合法");
                    }
                }else if(identityType == "护照") {
                    //校验护照格式
                    if(identityNumber.length > 30) {
                        $("#identifyNubmerError").html("证件号码不合法");
                    }
                }
                if(email != "" && !(emailCheck.test(email))) {
                    $("#emailError").html("邮箱地址不合法");
                }

                if(!hasError) {
                    let formAction;
                    formAction = $(thisJquery).attr("form-action");
                    var form1 = document.createElement("form");
                    form1.id = "VirtualForm";
                    form1.name = "VirtualForm";
                    document.body.appendChild(form1);
                    $("#VirtualForm").css("display", "none");
                    var input0 = document.createElement("input");
                    input0.type = "text";
                    /*input0.name = "creator";
                    input0.value = "{{creator}}";
                    form1.appendChild(input0);*/
                    form1.method = "POST";
                    form1.action = formAction;
                    form1.submit();
                }
            });
            /*************** end  ***************/

            //点击错误
            /*************** start  ***************/
            $('.inlineRowInput').on('click','.personInputError',function (e) {
                $(this).hide();
            });
            /*************** end  ***************/

            //删除确定弹框声明
            /*************** start  ***************/
            var delPopup = popup.init({
                popup:$('#Confirmdel'),
                cancel : $('#cancel'),
                submit : $('#submit')/*,*/
                /*submitCallback : del*/
            });
            /*************** end  ***************/

            //删除成功弹框声明
            /*************** start  ***************/
            var delSuccess = popup.init({
                popup:$('#SuccessConfirm'),
                submit : $('#SuccessConfirmButton'),
                submitCallback : function () {
                    $(".header .header-cancel").trigger("click");
                }
            });
            /*************** end  ***************/

            //删除
            /*************** start  ***************/
            $('.personDel span').on('click',function (e) {
                popup.show(delPopup);
            });
            /*************** end  ***************/

        });
    </script>
</head>
<body>
<div class="header">
    <span class="header-cancel" form-action="PersonInformation">取消</span>
    <span class="title">新增常用人员</span>
    <span class="header-save" form-action="PersonInformation">保存</span>
</div>
<div class="bodyContent">
    <div class="cue1">
        <span class="cue">人员姓名</span>
    </div>
    <div class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">中文姓名</span><input type="text" class="inputText ui-block-b" id="name" name="name" data-role="none" placeholder="确保与证件保持一致">
        <div class="personInputError" id="nameError"></div><!--错误-->
    </div>
    <div class="cue1">
        <span class="cue">为今后便利，请确保人员姓名与证件上一致。</span><span class="icon-question-onwer"></span>
    </div>
    <div class="cue1">
        <span class="cue">证件</span>
    </div>
    <div class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">证件类型</span><div id="identityType" class="choice ui-block-b"></div>
        <div class="personInputError" id="identityTypeError"></div><!--错误-->
    </div>
    <div  class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">证件号码</span><input type="text" class="inputText ui-block-b" id="identityNumber" name="identityNumber" data-role="none" placeholder="18位身份证号码">
        <div class="personInputError" id="identityNumberError"></div><!--错误-->
    </div>
    <div class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">证件有效期</span><div id="validDate" class="choice ui-block-b"></div>
        <div class="personInputError" id="validDateError"></div><!--错误-->
    </div>
    <div class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">证件影像</span><div id="identityImg" class="choice ui-block-b"></div>
        <div class="personInputError" id="zipCodeError"></div><!--错误-->
    </div>
    <div class="cue1">
        <span class="cue">身份证、护照可通过影像识别内容。</span><span class="icon-question-onwer"></span>
    </div>
    <div class="cue1">
        <span class="cue">其他信息</span>
    </div>
    <div class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">出生日期</span><div id="dateOfBirth" class="choice ui-block-b"></div>
        <div class="personInputError" id="dateOfBirthError"></div><!--错误-->
    </div>
    <div class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">性别</span><div id="gender" class="choice ui-block-b"></div>
        <div class="personInputError" id="genderError"></div><!--错误-->
    </div>
    <div class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">手机号码</span><input type="text" class="inputText ui-block-b" id="phone" name="phone" data-role="none" placeholder="常用手机号码">
        <div class="personInputError" id="phoneError"></div><!--错误-->
    </div>
    <div class="inlineRowInput ui-grid-a">
        <span class="lable ui-block-a">邮箱地址</span><input type="text" class="inputText ui-block-b" id="email" name="email" data-role="none" placeholder="常用邮箱地址">
        <div class="personInputError" id="emailError"></div><!--错误-->
    </div>
    <div id="SetDefault" class="inlineRowInput">
        <span>设置为本人</span> <select name="isDefault" id="isDefault" data-role="slider" data-mini="true">
        <option value="0"></option>
        <option value="1"></option>
    </select>
    </div>
    <div class="personDel" >
        <span>删除</span>
    </div>
    <div id="Confirmdel">
        <div>你确定要删除么</div>
        <span id="cancel" style="background: red">取消</span>    <span id="submit" style="background: #17BFB5">确定</span>
    </div>
    <div id="SuccessConfirm">
        <div>删除成功</div>
        <span id="SuccessConfirmButton" style="background: #17BFB5">确定</span>
    </div>
</div>

</body>
</html>