<script src = "<%=localurl%><%=projectUrl%>babel/browser.min.js" ></script>
<script src = "<%=localurl%><%=projectUrl%>jquery/js/jquery.min.js" ></script>
<script src = "<%=localurl%><%=projectUrl%>jquery/js/jquery.mobile-1.4.5.min.js" ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/calculateSize.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/zishiying.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/selectDateCal.js" ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/selectTimeCal.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/checkiosAndroid.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/mobileSelect.js" ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/updownloading.js"></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/popup.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/countDown.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/loaders.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/sharkTip.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/flipSwitch.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/horizontalScroll.js"  ></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/formatConversion.js"></script>
<script src = "<%=localurl%><%=projectUrl%>javascripts/idCardCheck.js"></script>
<script type="text/babel">
	$(document).ready(function () {
		if (browser.versions.iPhone || browser.versions.iPad || browser.versions.ios) {
			console.log("iphone");
		}else if (browser.versions.android) {
			console.log("android");
			$("input[type=file][data-type=image]").attr("capture","camera");
		}else if(browser.versions.mobile){
			console.log("mobile");
		}else{
			/* window.location.href="pcError" */
		}

		if (!window.JSON) {
			window.JSON = {
				stringify: function(obj) {
					let result = "";
					for (let key in obj) {
						if (typeof obj[key] == "string") {
							/* 如果属性值是String类型，属性值需要加上双引号*/
							result += "\"" + key + "\":\"" + obj[key] + "\",";
						} else if (obj[key] instanceof RegExp) {
							/* 如果属性是正则表达式，属性值只保留一对空大括号{}*/
							result += "\"" + key + "\":{},";
						} else if (typeof obj[key] == "undefined" || obj[key] instanceof Function) {
							/* 如果属性值是undefined, 该属性被忽略。忽略方法。*/
						} else if (obj[key] instanceof Array) {
							/* 如果属性值是数组*/
							result += "\"" + key + "\":[";
							let arr = obj[key];
							for (let item in arr) {
								if (typeof arr[item] == "string") {
									/* 如果数组项是String类型，需要加上双引号*/
									result += "\"" + arr[item] + "\",";
								} else if (arr[item] instanceof RegExp) {
									/* 如果属数组项是正则表达式，只保留一对空大括号{}*/
									result += "{},";
								} else if (typeof arr[item] == "undefined" || arr[item] instanceof Function) {
									/*	 如果数组项是undefined, 则显示null。如果是函数，则显示null?。*/
									result += null + ",";
								} else if (arr[item] instanceof Object) {
									/*如果数组项是对象(非正则，非函数，非null)，调用本函数处理*/
									result += this.stringify(arr[item]) + ",";
								} else {
									result += arr[item] + ",";
								}
							}
							result = result.slice(0, -1) + "],"

						} else if (obj[key] instanceof Object) {
							/* 如果属性值是对象(非null，非函数，非正则)，调用本函数处理*/
							result += "\"" + key + "\":" + this.stringify(obj[key]) + ",";
						} else {
							result += "\"" + key + "\":" + obj[key] + ",";
						}
					}
					/* 去除最后一个逗号,两边加{}*/
					return "{" + result.slice(0, -1) + "}";
				}
			};
		};
		const formatConversion = new FormatConversion();
		/*页面初始话 判断是否需要头部文件*/
		/***************start***************/
		const isWeixinBrowser = formatConversion.isWeixinBrowser();
		if("<%=env%>" == "test" || isWeixinBrowser){
			$(".header").hide();
			let height = $(".footer").length > 0? $(".footer").outerHeight(true): 0;
			$(".bodyContent").css({"margin-top": 0, "min-height": `calc(100vh - ${height}px)`});
		}else {
			window.location.href = "<%= localurl %><%= projectUrl %>errorPage?msg=请在微信中打开";
		}
	});
</script>