<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./commonJs.html")%>
    <%-include("./commonCss.html")%>
    <link rel="stylesheet"  href="<%=localurl%><%=projectUrl%>stylesheets/page/fillPolicyInfo4mazui.css" />
    <title>投保信息填写</title>
    <script type="text/babel">
        $(document).ready(function () {
        	const priceJson = eval(<%-JSON.stringify(data.price)%>);
			const insureModeJson =eval(<%-data.insureModeJson%>);
			const effectiveIntervalType = Number("<%=data.effectiveIntervalType%>");
			const effectiveInterval = Number("<%=data.effectiveInterval%>");
			const idTypeJson = [ {id:'身份证',value:'身份证'}];
			const relationJson =  [{"id":"01","value":"本人"},{"id":"10","value":"配偶"},{"id":"40","value":"子女"},{"id":"50","value":"父母"},{"id":"99","value":"其他"}] ;
			const genderJson = [ {id:'男',value:'男'},{id:'女',value:'女'}];
			const formatConversion = new FormatConversion();
			const timeDelay = 60; /*设置验证码发送间隔*/
			/* 声明 倒计时 */
			const countDown = new CountDown({
				"time":60,
				"functoinName": notFinish
			});
			const mobileCheck = /^1[3456789][0-9]\d{8}$/;
			const emailCheck = /^([a-zA-Z0-9]){1}[a-zA-Z0-9_\.-]*([a-zA-Z0-9])@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+){0,10}(.com|.cn|.net|.org)$/;
			const shark = new SharkTip({  /*初始化弹窗*/
				needShark: true
			});
			const loader =  new Loaders({style:"rectangle"});
			let globalPIdCard  ; /*被保险人证件号码*/
			let globalPSD  ; /*保单生效日期*/

			let haveTime = false; /* 是否处于倒计时状态 */
			let ccicPayUrl = "";
			let applyNo = "";

			$(".nextStepDiv .priceInfo").html(`￥${priceJson.discountFee +
                ("originFee" in priceJson ? `<span class="originFee">(${priceJson.originFee})</span>`:"") }`);
			$("#finishPayScreen").height($(window).height()+"px");

            new HorizontalScroll({
				speed:50,
				scroll_JqueryDom : ".bodyContent .horizontalScroll"
            });
			/*放入投保周期*/
            $("#selectModeButton").append(`
                    <div id="${insureModeJson.ename}" class="selectLine ui-grid-a" data-value="${insureModeJson.items[0].id}">
                        <span class="ui-block-a">保险期间</span>
                        <span class="ui-block-b textAlignRight">${insureModeJson.items[0].label}</span>
                    </div>
            `);
            $(".innerOneLine").on("blur","#aIdCard ,#pIdCard",function(e){
            	e.preventDefault();
            	let target = $(e.target);
            	let idCard = target.val();
            	if(idCard.length == 15 || idCard.length == 18){
					let genderStr = formatConversion.getGender(idCard);
					let dateOfBirth = formatConversion.getDateOfBirth(idCard);
					if(target.attr("id") == "aIdCard"){
						aGenderSelect.resetValue([genderStr]);
						aDateOfBirthSelect.resetValue(dateOfBirth.split("-"));
                    }else{
						pGenderSelect.resetValue([genderStr]);
						pDateOfBirthSelect.resetValue(dateOfBirth.split("-"));
                    }
                }
			});

			/* 投保人证件类型 */
			let aIdTypeSelect = new MobileSelect({
				trigger: `#aIdTypeSpan`,
				title:`证件类型`,
				wheels: [
					{data: idTypeJson}
				],
				reloadPosition:true,
				triggerDisplayData : false,
				position: [0], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					$("#aIdTypeSpan .aIdType").html(data[0].value);
					if("本人" == $("#pRelationSpan .pRelation").html() ){
						orelationChange();
					}
				}
			});
			$("#aIdTypeSpan .aIdType").html(idTypeJson[0].value);

			/*被保险人证件类型*/
			let pIdTypeSelect = new MobileSelect({
				trigger: `#pIdTypeSpan`,
				title:`证件类型`,
				wheels: [
					{data: idTypeJson}
				],
				reloadPosition:true,
				triggerDisplayData : false,
				position: [0], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					$("#pIdTypeSpan .pIdType").html(data[0].value);
				}
			});
			$("#pIdTypeSpan .pIdType").html(idTypeJson[0].value);

			/*投保人出生日期*/
			let now = new Date();
			let dateOfBirth = new CalDate({
				status : 101 ,
				endDate : now.getFullYear(),
				endDateMonth : now.getMonth()+1,
				endDateDay : now.getDate()  ,
				startDate:new Date().getFullYear()-100
			}).getValue();
			let aDateOfBirthSelect = new MobileSelect({
				trigger: `#aDateOfBirthSpan`,
				title:`出生日期`,
				wheels: [
					{data: dateOfBirth}
				],
				reloadPosition:true,
				triggerDisplayData : false,
				position: [0][0][0], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					let value = "";
					for(let i in data){
						value += data[i].value+" ";
					}
					$("#aDateOfBirthSpan .aDateOfBirth").html(value.substring(0 , value.length - 1));
					if("本人" == $("#pRelationSpan .pRelation").html() ){
						orelationChange();
					}
				}
			});
			$("#aDateOfBirthSpan .aDateOfBirth").html(dateOfBirth[0].value+ " "+dateOfBirth[0].childs[0].value+ " "+dateOfBirth[0].childs[0].childs[0].value);

            /*被保险人出生日期*/
			let pDateOfBirthSelect = new MobileSelect({
				trigger: `#pDateOfBirthSpan`,
				title:`出生日期`,
				wheels: [
					{data: dateOfBirth}
				],
				reloadPosition:true,
				triggerDisplayData : false,
				position: [0][0][0], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					let value = "";
					for(let i in data){
						value += data[i].value+" ";
					}
					$("#pDateOfBirthSpan .pDateOfBirth").html(value.substring(0 , value.length - 1));
				}
			});
			$("#pDateOfBirthSpan .pDateOfBirth").html(dateOfBirth[0].value+ " "+dateOfBirth[0].childs[0].value+ " "+dateOfBirth[0].childs[0].childs[0].value);

			/* 投保人性别 */
			let aGenderSelect = new MobileSelect({
				trigger: `#aGenderSpan`,
				title:`性别`,
				wheels: [
					{data: genderJson}
				],
				reloadPosition:true,
				triggerDisplayData : false,
				position: [0], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					$("#aGenderSpan .aGender").html(data[0].value);
					if("本人" == $("#pRelationSpan .pRelation").html() ){
						orelationChange();
					}
				}
			});
			$("#aGenderSpan .aGender").html(genderJson[0].value);

			/*被保险人性别*/
			let pGenderSelect = new MobileSelect({
				trigger: `#pGenderSpan`,
				title:`性别`,
				wheels: [
					{data: genderJson}
				],
				reloadPosition:true,
				triggerDisplayData : false,
				position: [0], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					$("#pGenderSpan .pGender").html(data[0].value);
				}
			});
			$("#pGenderSpan .pGender").html(genderJson[0].value);

			/*被保险人关系*/
			let pRelationSelect = new MobileSelect({
				trigger: `#pRelationSpan`,
				title:`是投保人的`,
				wheels: [
					{data: relationJson}
				],
				reloadPosition:true,
				triggerDisplayData : false,
				position: [0], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					$("#pRelationSpan .pRelation").html(data[0].value);
					if("本人" == data[0].value){
						orelationChange();
					}else{
						emptyData();
					}
				}
			});
			$("#pRelationSpan .pRelation").html(relationJson[0].value);

			/*被保险人为本人的时候同步数据*/
			function orelationChange(){
				$("#pName").val($("#aName").val()); /*同步姓名*/
				$("#pIdTypeSpan .pIdType").html($("#aIdTypeSpan .aIdType").html()); /*同步证件类型*/
				$("#pIdCard").val($("#aIdCard").val());/*同步证件号码*/
				$("#pDateOfBirthSpan .pDateOfBirth").html($("#aDateOfBirthSpan .aDateOfBirth").html());/* 同步出生日期 */
				$("#pGenderSpan .pGender").html($("#aGenderSpan .aGender").html());/*同步性别 */
				pIdTypeSelect.reSetCurDistance(aIdTypeSelect.getIndexArr());
				pDateOfBirthSelect.reSetCurDistance(aDateOfBirthSelect.getIndexArr());
				pGenderSelect.reSetCurDistance(aGenderSelect.getIndexArr());
			};

			/*被保险人数据清空*/
			function emptyData(){
				$("#pName").val("");/*清空姓名*/
				$("#pIdTypeSpan .pIdType").html(idTypeJson[0].value);/*清空证件类型*/
				$("#pIdCard").val(""); /*清空证件号码*/
				$("#pDateOfBirthSpan .pDateOfBirth").html(dateOfBirth[0].value+ " "+dateOfBirth[0].childs[0].value+ " "+dateOfBirth[0].childs[0].childs[0].value);/*清空出生日期 */
				$("#pGenderSpan .pGender").html(genderJson[0].value);/*清空性别 */
				pIdTypeSelect.reSetCurDistance([0]);
				pDateOfBirthSelect.reSetCurDistance([0,0,0]);
				pGenderSelect.reSetCurDistance([0]);
			}

			/*当是本人时 同步输入*/
			$(".fillApplicantInfo").on("input propertychange","input",function(e){
				if("本人" == $("#pRelationSpan .pRelation").html() ){
					orelationChange();
				}
			});

			/*获取验证码*/
			$(".contactWay").on("vclick", ".sendCode", function(e){
				e.preventDefault();
				let thisJquery = this;
				let mobile = $("#mobile").val();
				if(!mobile ||  !(mobileCheck.test(mobile)) ){
					shark.show("请输入正确的手机号");
					return false;
				}
				loader.show();
				let formData = new FormData();
				formData.append("telPhoneNubmer",mobile);
				$.ajax({
					url: "<%=localurl%><%=projectUrl%>sendCode",
					type: 'POST',
					data: formData,
					async: true,
					cache: false,
					dataType: 'json',
					contentType: false,
					processData: false,
					success: (data) => {
						if(data.ret == "0"){
							let thisDelay = timeDelay;
							$(thisJquery).html(`${thisDelay}s后重发`);
							$(thisJquery).removeClass("sendCode");
							$(".sendCodeComplete").val("1");
							let i = setInterval(function () {
								$(thisJquery).html(`${--thisDelay}s后重发`);
								if( !/^(0|[1-9][0-9]*)$/.test(thisDelay)){
									$(thisJquery).addClass("sendCode");
									clearInterval(i);
									$(thisJquery).html("获取验证码");
								}
							} ,1000);
							shark.show("成功");
						}else if("-2" == data.ret){
							shark.show(data.msg);
							setTimeout(function () {
								window.location.reload();
							},2000);
						}else{
							shark.show(data.msg);
						}
					},complete: function(data) {
						loader.hide();
					},
					error:  (data) => {
						shark.show("系统异常,请联系管理员");
					}
				});
			});

			/*各种介绍的点击事件*/
			$(".notifyDiv").on("vclick",".notice",function(e){
				e.preventDefault();
				let thisJquery = this;
				window.location.href="<%=localurl%><%=projectUrl%>"+$(thisJquery).attr("data-action") ;
			});

			/* 下一步 */
			$(".bodyContent").on("vclick", ".nextStep", function (e) {
				e.preventDefault();
				if(!$(".agreeNotify").is(':checked')){
					shark.show("请勾选 条款及须知");
					return false;
				}
				if("1" != $(".sendCodeComplete").val()){
					shark.show("请先发送验证码");
					return false;
				}
				let haveError = false; /*是否有错误 默认无*/
				let aName = $.trim($("#aName").val()); /*投保人姓名*/
				let aIdType = $(".aIdType").html(); /*投保人证件类型*/
				let aIdCard = $.trim($("#aIdCard").val()); /*投保人证件号码*/
                let aGender = $(".aGender").html();/*投保人性别*/
				let aDateOfBirth = $(".aDateOfBirth").html(); /*投保人出生日期*/
				let aEmail = $.trim($("#aEmail").val()); /*投保人电子邮箱*/

				let pRelation = $(".pRelation").html(); /*被保险人与投保人的关系*/
				let pName = $.trim($("#pName").val()); /*被保险人姓名*/
				let pIdType = $(".pIdType").html(); /*被保险人证件类型*/
				let pIdCard = $.trim($("#pIdCard").val()); /*被保险人证件号码*/
				let pGender = $.trim($(".pGender").html());/*被保险人性别*/
				let pDateOfBirth = $(".pDateOfBirth").html(); /*被保险人出生日期*/
				let psd = new Date();
				if(effectiveIntervalType == 1){/* 日*/
					psd.setDate(psd.getDate()+ effectiveInterval); /*获取 间隔日期之后的天数*/
                }else if(effectiveIntervalType == 2){/* 小时 */
					psd.setHours(psd.getHours() + effectiveInterval);
                }

                psd = psd.getFullYear()+"年"+(psd.getMonth()+1)+"月"+psd.getDate()+"日"+psd.getHours()+"时";
                let mobile = $.trim($("#mobile").val()); /*联系电话*/
                let aidentifyingCode = $.trim($("#aidentifyingCode").val()); /*验证码*/

				if(!aName || !aIdType || !aIdCard || !aGender || !aDateOfBirth || !aEmail || !pRelation ||
                    !pName || !pIdType || !pIdCard || !pGender || !pDateOfBirth || !psd || !mobile || !aidentifyingCode){
					haveError = true;
				}
				if(haveError){
					let msg = "星号内容必填";
					shark.show(msg);
					return false;
				}
				if(!(emailCheck.test(aEmail))){
					shark.show("投保人邮箱格式不正确");
					return false;
				}else if(!(mobileCheck.test(mobile))){
					shark.show("手机号码格式不正确");
					return false;
				}else if(aidentifyingCode.length !=6){
					shark.show("手机验证码错误");
					return false;
				}
				let formData = new FormData();
				formData.append("planCode","<%=data.planCode%>");
				formData.append("allDimensionCombine","<%=allDimensionCombine%>");
				formData.append("price",priceJson.discountFee);
				formData.append("aName",aName);
				formData.append("aIdType",aIdType);
				formData.append("aIdCard",aIdCard);
				formData.append("aGender",aGender);
				formData.append("aDateOfBirth",aDateOfBirth);
				formData.append("aEmail",aEmail);
				formData.append("pRelation",pRelation);
				formData.append("pName",pName);
				formData.append("pIdType",pIdType);
				formData.append("pIdCard",pIdCard);
				globalPIdCard = pIdCard;
				formData.append("pGender",pGender);
				formData.append("pDateOfBirth",pDateOfBirth);
				formData.append("mobile",mobile);
				formData.append("aidentifyingCode",aidentifyingCode);
				formData.append("psd",psd);
				globalPSD = psd;
				loader.show();
				$.ajax({
					url: "<%=localurl%><%=projectUrl%>genOrder",
					type: 'POST',
					data: formData,
					async: true,
					cache: false,
					dataType: 'json',
					contentType: false,
					processData: false,
					success: (data) => {
						if("0" == data.ret){
							/*成功*/
							$("#payShow").height($(window).height()+"px");
							ccicPayUrl  = data.payUrl;
							applyNo = data.applyNo;
							$("#payShow #payFrame").attr("src" ,data.payUrl);
							$("#payShow").fadeIn(400);
							/*window.location.replace(data.payUrl);*/
						}else if("-2" == data.ret){
							shark.show(data.msg);
							setTimeout(function () {
								window.location.reload();
							},2000);
						}else if("-100" == data.ret){
							let errorMsg = data.msg?data.msg:"保险公司处理失败";
							shark.show(errorMsg);
						}else{
							shark.show(data.msg);
						}
					},complete: function(data) {
						loader.hide();
					},
					error:  (data) => {
						shark.show("系统异常,请联系管理员");
					}
				});
			});

			/* delay 2000ms  的反向ajax推送， 当收到返回时再推*/
			function ajaxDelay(){
				let oidCard = globalPIdCard; /*被保险人证件号码*/
				let psd = globalPSD; /*保单生效日期*/
				let formData = new FormData();
				formData.append("identifyNumber",oidCard);
				formData.append("startDate",psd);
				formData.append("applyNo",applyNo);
				$.ajax({
					url: "<%=localurl%><%=projectUrl%>genPaymentInfo",
					type: 'POST',
					data: formData,
					async: true,
					cache: false,
					dataType: 'json',
					contentType: false,
					processData: false,
					success: (data) => {
						if("0" == data.ret ){
							console.log("yes");
							if(data.url){
								window.location.replace(data.url);
                            }else{
								window.location.replace("<%=localurl%><%=projectUrl%>goFinishPage?policyNo="+data.policyNo+
                                    (data.orderNo?("&orderNo="+data.orderNo):""));
                            }

						}else{
							if(haveTime){
								console.log("no",data.msg);
								setTimeout(function(){ajaxDelay()},2000);
							}
						}
					},complete: function(data) {
					},
					error:  (data) => {
						if(haveTime){
							console.log("no");
							setTimeout(function(){ajaxDelay()},2000);
						}
					}
				});
			};

			/* 支付Ifream的隐藏 */
			$("#payShow").on("vclick",".icon-carat-b-onwer",function (e) {
				e.preventDefault();
				$("#payShow").fadeOut(400);
				$(".finishPay").fadeIn(400);
			});

			/* 倒计时 跑完 还没有收到完成的信息 */
			function notFinish() {
				shark.show("您未完成支付");
				$("#payShow #payFrame").attr("src" ,ccicPayUrl);
				$("#payShow").fadeIn(400);
				haveTime = false;
			};
			    /*/!*测试使用*!/
              setTimeout(function(){
                    countDown.show();
                    haveTime = true;
                    ajaxDelay();/!*  反向ajax  请求是否已完成 *!/
                } , 2);*/

			/* 已完成支付 */
			$("#finishPay").on("vclick", ".ensure" , function (e) {
				e.preventDefault();
				countDown.show();
				haveTime = true;
				ajaxDelay();/*  反向ajax  请求是否已完成 */
				$(".finishPay").fadeOut(400);
			});
			/* 未完成支付 */
			$("#finishPay").on("vclick", ".cancel" , function (e) {
				e.preventDefault();
				$("#payShow #payFrame").attr("src" ,ccicPayUrl);
				$("#payShow").fadeIn(400);
				$(".finishPay").fadeOut(400);
				haveTime = false;
			});
        });
    </script>
</head>
<body>
    <div class="header" id="bodyHeader"  >
        <%  if(typeof canShare !== 'undefined' && canShare ){ %>
        <span class="icon-carat-b-owner shareIcon" ></span>
        <%}else{%>
        <span class="icon-carat-b-onwer backIcon" ></span>
       <%}%>
        <span class="title"><%=data.planShortName%></span>
    </div>
    <div class="bodyContent">
        <div class="planBaseInfo borderBottom ">
            <div class="paddingLeft borderBottom"><span class="verticalBar"></span><span>保险信息</span></div>
            <div class="marginLAR ui-grid-a innerOneLine borderBottom">
                <span class="ui-block-a">保险名称</span>
                <span class="ui-block-b horizontalScroll textAlignRight"><%=data.planName%></span>
            </div>


            <% data.planClassAndDuty.forEach(function (t,classIdx) {  %>
                <% t.second_plan.forEach(function (ts,dutyIdx) {  %>
                    <div class="marginLAR ui-grid-a innerOneLine borderBottom">
                        <span class="ui-block-a horizontalScroll"><%=ts.planDutyName%><% if(ts.planDutyDayAmount != null && ts.planDutyDayAmount != "" ){%>（<%=ts.planDutyDayAmount%>天）<%}%></span>
                        <span class="ui-block-b horizontalScroll textAlignRight"><%=ts.items[0].value%></span>
                    </div>
                <%});%>
            <%});%>
            <div class="marginLAR ui-grid-a innerOneLine borderBottom">
                <span class="ui-block-a">生效日期</span>
                <span class="ui-block-b horizontalScroll textAlignRight " >保单起保当日手术开始后</span>
            </div>
            <div class="marginLAR ui-grid-a innerOneLine" id="selectModeButton"></div>
        </div>

        <div class="fillApplicantInfo borderBottom">
            <div class="paddingLeft borderBottom"><span class="verticalBar"></span><span>投保人信息</span></div>
            <div class="marginLAR ui-grid-a innerOneLine borderBottom">
                <span class="ui-block-a">投保人姓名<span class="red">*</span></span>
                <span class="ui-block-b"><input data-role="none" placeholder="请输入投保人姓名" class="aName" id="aName"  name="aName"  autocomplete="off"></span>
            </div>
            <div class="marginLAR ui-grid-b innerOneLine borderBottom">
                <span class="ui-block-a">证件类型<span class="red">*</span></span>
                <span id="aIdTypeSpan">
                    <span class="ui-block-b aIdType" ></span>
                    <span class="ui-block-c rigthArrow textAlignRight "></span>
                </span>
            </div>
            <div class="marginLAR ui-grid-a innerOneLine borderBottom">
                <span class="ui-block-a">证件号码<span class="red">*</span></span>
                <span class="ui-block-b"><input data-role="none" placeholder="请录入投保人证件号码" class="aIdCard" id="aIdCard"  name="aIdCard"  autocomplete="off"></span>
            </div>
            <div class="marginLAR ui-grid-b innerOneLine borderBottom">
                <span class="ui-block-a">出生日期<span class="red">*</span></span>
                <span id="aDateOfBirthSpan">
                    <span class="ui-block-b aDateOfBirth" ></span>
                    <span class="ui-block-c rigthArrow textAlignRight "></span>
                </span>
            </div>
            <div class="marginLAR ui-grid-b innerOneLine borderBottom">
                <span class="ui-block-a">性别<span class="red">*</span></span>
                <span id="aGenderSpan">
                    <span class="ui-block-b aGender" ></span>
                    <span class="ui-block-c rigthArrow textAlignRight "></span>
                </span>
            </div>
            <div class="marginLAR ui-grid-a innerOneLine ">
                <span class="ui-block-a">电子邮箱<span class="red">*</span></span>
                <span class="ui-block-b"><input data-role="none" placeholder="用于接收电子保单" class="aEmail" id="aEmail"  name="aEmail"  autocomplete="off"></span>
            </div>
        </div>

        <div class="fillPolicyPersonInfo borderBottom">
            <div class="paddingLeft borderBottom"><span class="verticalBar"></span><span>被保险人信息</span></div>
            <div class="marginLAR ui-grid-b innerOneLine borderBottom">
                <span class="ui-block-a">是投保人的<span class="red">*</span></span>
                <span id="pRelationSpan">
                    <span class="ui-block-b pRelation" ></span>
                    <span class="ui-block-c rigthArrow textAlignRight "></span>
                </span>
            </div>
            <div class="marginLAR ui-grid-a innerOneLine borderBottom">
                <span class="ui-block-a">被保险人姓名<span class="red">*</span></span>
                <span class="ui-block-b"><input data-role="none" placeholder="请输入被保险人姓名" class="pName" id="pName"  name="pName"  autocomplete="off" ></span>
            </div>
            <div class="marginLAR ui-grid-b innerOneLine borderBottom">
                <span class="ui-block-a">证件类型<span class="red">*</span></span>
                <span id="pIdTypeSpan">
                    <span class="ui-block-b pIdType" ></span>
                    <span class="ui-block-c rigthArrow textAlignRight "></span>
                </span>
            </div>
            <div class="marginLAR ui-grid-a innerOneLine borderBottom">
                <span class="ui-block-a">证件号码<span class="red">*</span></span>
                <span class="ui-block-b"><input data-role="none" placeholder="请录入被保险人证件号码" class="pIdCard" id="pIdCard"  name="pIdCard"  autocomplete="off"></span>
            </div>
            <div class="marginLAR ui-grid-b innerOneLine borderBottom">
                <span class="ui-block-a">出生日期<span class="red">*</span></span>
                <span id="pDateOfBirthSpan">
                    <span class="ui-block-b pDateOfBirth" ></span>
                    <span class="ui-block-c rigthArrow textAlignRight "></span>
                </span>
            </div>
            <div class="marginLAR ui-grid-b innerOneLine ">
                <span class="ui-block-a">性别<span class="red">*</span></span>
                <span id="pGenderSpan">
                    <span class="ui-block-b pGender" ></span>
                    <span class="ui-block-c rigthArrow textAlignRight "></span>
                </span>
            </div>
        </div>

        <div class="contactWay borderBottom">
            <div class="paddingLeft borderBottom"><span class="verticalBar"></span><span>通讯信息</span></div>
            <div class="marginLAR ui-grid-a innerOneLine borderBottom">
                <span class="ui-block-a">手机号码<span class="red">*</span></span>
                <span class="ui-block-b"><input data-role="none" placeholder="请录入投保人手机号码" class="mobile" id="mobile"  name="mobile"  autocomplete="off" ></span>
            </div>
            <div class="marginLAR ui-grid-b innerOneLine">
                <span class="ui-block-a">验证码<span class="red">*</span></span>
                <span>
                    <span class="ui-block-b" ><input data-role="none" placeholder="请录入验证码" class="aidentifyingCode" id="aidentifyingCode"  name="aidentifyingCode"  autocomplete="off" ></span>
                    <span class="ui-block-c"><span id="sendCode" class="sendCode">发送验证码</span></span>
                </span>
            </div>
            <input type="hidden" value="0" class="sendCodeComplete" id="sendCodeComplete" >
        </div>

        <div class="notifyDiv">
            <span class="notifyCheckbox">
                <label class="notify"><input type="checkbox" name="agreeNotify" class="agreeNotify">&nbsp;</label>
            </span>
            <span class="notifyText">我已阅读<span class="notice" data-action="insurancePolicy">投保须知</span>、<span class="notice" data-action="insuranceDeclaration">投保声明</span>和<span class="notice" data-action="insuranceClauses">保险条款</span>的全部内容</span>
        </div>

        <div class="nextStepDiv ui-grid-a">
            <span class="priceInfo ui-block-a">￥</span>
            <span id="nextStep"  class="nextStep ui-block-b">支付</span>
        </div>

    </div>

    <div id="payShow">
        <div class="payHeader ">
            <span class="icon-carat-b-onwer close" >关闭</span>
            <span class="payTitle ">支付</span>
            <a class="header-save tel" data-role="none" href="tel:"></a>
        </div>
        <iframe id="payFrame" ></iframe>
    </div>

    <div id="finishPayScreen" class="finishPay"></div>
    <div id="finishPay" class="finishPay">
        <div class="title">请您在新打开的页面进行支付<br/>支付完成前请不要关闭该窗口</div>
        <div class="ui-grid-b action">
            <span class="ui-block-a ensure">已完成支付</span>
            <span class="ui-block-b"></span>
            <span class="ui-block-c cancel">支付遇到问题</span>
        </div>

    </div>

</body>
</html>