<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./commonJs.html")%>
    <%-include("./commonCss.html")%>
    <title>产品详情</title>
    <link rel="stylesheet"  href="<%=localurl%><%=projectUrl%>stylesheets/page/index.css" />
    <script type="text/babel">
        $(document).ready(function(){
            /*初始化诗句*/
            let json = eval(<%-data.json_attribute%>);
            let priceJson = eval(<%-JSON.stringify(data.sku_list)%>);
            console.log(priceJson);
            let array = [];
            /*动态放入可选择内容*/
            for(var i in json){
                $("#selectButton").append(`
                        <div id="${json[i].ename}" class="selectLine ui-grid-b" data-value="${json[i].items[0].id}">
                            <span class="ui-block-a">${json[i].name}</span>
                            <span class="ui-block-b">${json[i].items[0].label}</span>
                            <span class="ui-block-c"></span>
                        </div>
                `);
                array[i]  = new MobileSelect({
                    trigger: `#${json[i].ename}`,
                    title:`${json[i].name}`,
                    wheels: [
                        {data: eval(json[i].items)}
                    ],
                    keyMap: {
                        id:'id',
                        value: 'label'
                    },
                    triggerDisplayData : false,
                    position: [0], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
                    callback:function(idx , data ){
                        $($(this)[0].trigger).attr("data-value",data[0].id);
                        $($(this)[0].trigger).find(".ui-block-b").html(data[0].label) ;
                        selectButtonChange();
                    },
                    transitionEnd:function (idx, data) {
                        $($(this)[0].trigger).attr("data-value",data[0].id);
                        $($(this)[0].trigger).find(".ui-block-b").html(data[0].label) ;
                        selectButtonChange();
                    }
                });
            }
            /*计算费用*/
            function selectButtonChange(){
                let str = "";
                $("#selectButton .selectLine").each(function(){
                    str += $(this).attr("data-value")+"_";
                });
                str = str.substring(0,str.length-1);
                console.log(str);
                for(var i in priceJson){
                    if(i == str){
                        $(".footer .ui-block-a").html("￥"+priceJson[i].price+".00");
                    };
                };
            };
            selectButtonChange();
            /*责任详情的展示*/
            $(".jobsType").on("vclick" , ".downArrow" , function (e) {
                e.preventDefault();
                let thisJquery  = this ;
                $(thisJquery).parent().parent().find(".jobsDetail").show();
                $(thisJquery).removeClass("downArrow");
                $(thisJquery).addClass("upArrow");
            });
            /*责任详情的隐藏*/
            $(".jobsType").on("vclick" , ".upArrow" , function (e) {
                e.preventDefault();
                let thisJquery  = this ;
                $(thisJquery).parent().parent().find(".jobsDetail").hide();
                $(thisJquery).removeClass("upArrow");
                $(thisJquery).addClass("downArrow");
            });

            /*各种介绍的点击事件*/
            $(".introduce").on("vclick",".introduceLine",function(e){
               e.preventDefault();
               let thisJquery = this;
               window.location.href="<%=localurl%><%=projectUrl%>"+$(thisJquery).attr("data-action");
            });
            /*查看更多 问题*/
            $(".question").on("vclick",".questionMore",function (e) {
                e.preventDefault();
                $(this).hide();
                $(".question .questionLineMore").show();
            });

            /*立即投保*/
            $(".footer").on("vclick", ".coverBtn", function (e) {
                e.preventDefault();
                window.location.href = "<%=localurl%><%=projectUrl%>goToHealthInfo";
            });

        });
    </script>
</head>
<body>
<div class="header">
    <span class="title">产品详情</span>
</div>
<div class="bodyContent">
    <!-- 小头-->
    <div class="littleHeader" >
        <%if(planCode=="1"){%>
            <img class="banner" src="<%=localurl%><%=projectUrl%>images/1/banner.jpg">
        <%}else{%>
            <img class="banner" src="<%=localurl%><%=projectUrl%>images/2/banner.png">
        <%}%>
        <div class="detail">
            <div class="detailTitle weight"><span><%=data.product_name%></span></div>
            <div class="detailPrice"><span>￥<%=data.price%></span><span class="priceTip">起</span></div>
            <div class="detailInfo"><span>最高保障</span><span><%=data.max_payment%></span></div>
        </div>
    </div>
    <!--选择-->
    <div id="selectButton">

    </div>
    <!--保障责任-->
    <div class="jobs">
        <div class="jobsTitle weight">保障责任</div>
        <% data.plans[0].first_plan.forEach(function (t) {  %>
            <div class="jobsType">
                <div class="jobsTipTitle ui-grid-b">
                    <span class="ui-block-a"><%=t.kind_name%></span>
                    <span class="ui-block-b"><%=t.quota_show%></span>
                    <span class="ui-block-c downArrow"></span>
                </div>
                <div class="jobsDetail"><%=t.detail%></div>
                <% t.second_plan.forEach(function (ts) {  %>
                <div class="ui-grid-a secondPlan">
                    <span class="ui-block-a"><%=ts.kind_name%></span>
                    <span class="ui-block-b"><%=ts.quota_show%></span>
                </div>
                <%})%>
            </div>
        <%})%>
    </div>
    <!--产品优势-->
    <div class="adv">
        <div class="advTitle weight">产品优势</div>
        <%if(planCode=="1"){%>
            <img class="prd_1" src="<%=localurl%><%=projectUrl%>images/1/prd_1.png">
            <img class="prd_2" src="<%=localurl%><%=projectUrl%>images/1/prd_2.png">
            <img class="prd_3" src="<%=localurl%><%=projectUrl%>images/1/prd_3.png">
            <img class="prd_4" src="<%=localurl%><%=projectUrl%>images/1/prd_4.png">
            <img class="prd_5" src="<%=localurl%><%=projectUrl%>images/1/prd_5.png">
            <img class="prd_6" src="<%=localurl%><%=projectUrl%>images/1/prd_6.png">
            <img class="prd_7" src="<%=localurl%><%=projectUrl%>images/1/prd_7.png">
        <%}else{%>
            <img class="prd_1" src="<%=localurl%><%=projectUrl%>images/2/prd_1.png">
            <img class="prd_2" src="<%=localurl%><%=projectUrl%>images/2/prd_2.png">
            <img class="prd_3" src="<%=localurl%><%=projectUrl%>images/2/prd_3.png">
            <img class="prd_4" src="<%=localurl%><%=projectUrl%>images/2/prd_4.png">
            <img class="prd_5" src="<%=localurl%><%=projectUrl%>images/2/prd_5.png">
        <%}%>

        <% if (typeof data.introduction !== 'undefined' ){ %><%-data.introduction%><% } %>

    </div>

    <div class="introduce">
        <div class="introduceLine ui-grid-b" data-action="insuranceProcess">
            <span class="ui-block-a">投保流程</span>
            <span class="ui-block-b">查看</span>
            <span class="ui-block-c"></span>
        </div>
        <div class="introduceLine ui-grid-b" data-action="insuranceClauses">
            <span class="ui-block-a">保险条款</span>
            <span class="ui-block-b">查看</span>
            <span class="ui-block-c"></span>
        </div>
        <div class="introduceLine ui-grid-b" data-action="claimProcess">
            <span class="ui-block-a">理赔流程</span>
            <span class="ui-block-b">查看</span>
            <span class="ui-block-c"></span>
        </div>
        <div class="introduceLine ui-grid-b" data-action="policyStatement">
            <span class="ui-block-a">保单说明</span>
            <span class="ui-block-b">查看</span>
            <span class="ui-block-c"></span>
        </div>
    </div>

    <div class="question">
        <div class="questionTitle weight">常见问题</div>
        <% data.questions.forEach(function (t,idx) {%>
            <%if(idx == 3){%>
                <div class="questionMore">查看更多</div>
            <%}%>

            <div class="questionLine <%if(idx > 2){%> questionLineMore <%}%>">
                <h3><%=t.question%></h3>
                <p><%-t.answer%></p>
            </div>

        <%})%>
    </div>

</div>
<div class="footer ui-grid-a">
    <span class="ui-block-a"></span>
    <span class="ui-block-b coverBtn">立即投保</span>
</div>
</body>
</html>