<script src = "babel/browser.min.js" ></script>
<script src = "jquery/js/jquery.min.js" ></script>
<script src = "jquery/js/jquery.mobile-1.4.5.min.js" ></script>
<script src = "javascripts/calculateSize.js"  ></script>
<!--<script src = "javascripts/horizontalScroll.js"  ></script>-->
<script src = "javascripts/zishiying.js"  ></script>
<script src = "javascripts/selectDateCal.js" ></script>
<script src = "javascripts/selectTimeCal.js"  ></script>
<script src = "javascripts/checkiosAndroid.js"  ></script>
<script src = "javascripts/mobileSelect.js" ></script>
<script src = "javascripts/updownloading.js"></script>
<script src = "javascripts/popup.js"  ></script>
<script src = "javascripts/formatConversion.js"></script>
<script >
    if (browser.versions.iPhone || browser.versions.iPad || browser.versions.ios) {
        console.log("iphone");
    }else if (browser.versions.android) {
        console.log("android");
    }else if(browser.versions.mobile){
        console.log("mobile");
    }else{
        window.location.href="pcError"
    }
</script>