<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./commonJs.html")%>
    <%-include("./commonCss.html")%>
    <title>个人信息</title>
    <link rel="stylesheet"  href="<%=localurl%><%=projectUrl%>stylesheets/page/personalInfo.css" />
    <script type="text/babel">
		$(document).ready(function(){
			const shark = new SharkTip({ needShark: true});/*初始化弹窗*/
			const loader = new Loaders({style:"rectangle"});

			const emailCheck = /^([a-zA-Z0-9]){1}[a-zA-Z0-9_\.-]*([a-zA-Z0-9])@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+){0,10}(.com|.cn|.net|.org)$/;
			const identifyTypeArray = [{"id":"请选择","value":"请选择"},{"id":"身份证","value":"身份证"}];
            const genderArray = [{"id":"请选择","value":"请选择"},{"id":"女","value":"女"},{"id":"男","value":"男"}];

			/* 回退*/
			$(".header").on("vclick",".backIcon" , function (e) {
				e.preventDefault();
				window.location.href = "<%=localurl%><%=projectUrl%>userCenter";
			});
			let identifyTyperPosition = 0 ;
			for(let identifyTypeJsonIdx = 0 ; identifyTypeArray.length > identifyTypeJsonIdx   ; identifyTypeJsonIdx++){
				let  identifyTypeJson = identifyTypeArray[identifyTypeJsonIdx];
				if( identifyTypeJson.id== "<%=identifyType%>" ){
					identifyTyperPosition = identifyTypeJsonIdx;
				}
			}
			let identifyTypeDivSelect  = new MobileSelect({
				trigger: `#identifyTypeDiv`,
				title:`证件类型`,
				wheels: [
					{data: identifyTypeArray }
				],
				reloadPosition : true,
				triggerDisplayData : false,
				position: [identifyTyperPosition], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					$(".identifyType").val(data[0].id);
				}
			});
			let genderPosition = 0 ;
			for(let genderJsonIdx = 0 ; genderArray.length  > genderJsonIdx ; genderJsonIdx++){
                let genderJson = genderArray[genderJsonIdx];
                if(genderJson.id== "<%=gender%>" ){
					genderPosition = genderJsonIdx;
                }
            }
			let genderDivSelect  = new MobileSelect({
				trigger: `#genderDiv`,
				title:`证件类型`,
				wheels: [
					{data: genderArray }
				],
				reloadPosition : true,
				triggerDisplayData : false,
				position: [genderPosition], /*初始化定位 打开时默认选中的哪个  如果不填默认为0,*/
				callback:function(idx , data ){
					$(".gender").val(data[0].id);
				}
			});
            
            $(".bodyContent").on("vclick", ".submitButton", function (e) {
            	e.preventDefault();
				loader.show();
            	let name = $.trim($(".name").val()); /*获取姓名*/
                let identifyType = $.trim($(".identifyType").val()); /*获取证件类型*/
                if(identifyType == "请选择"){
					identifyType = "";
                }
                let identifyNumber = $.trim($(".identifyNumber").val()); /* 获取证件号码*/
                let email = $.trim($(".email").val()); /*获取邮箱*/
                let gender = $.trim($(".gender").val()); /*获取性别*/
				if(gender == "请选择"){
					gender = "";
				}
                if(name && name.length > 10){
					loader.hide();
                	shark.show("姓名过长，不能超过10个字符");
                	return false;
                }else if(email && !emailCheck.test(email)){
					loader.hide();
					shark.show("请输入正确的邮箱");
					return false;
                }else if((!identifyType && identifyNumber ) || (identifyType && !identifyNumber )){
					loader.hide();
					shark.show("证件类型和证件号码必须同时存在");
					return false;
                }
                let formData = new FormData();
				formData.append("name",name);
				formData.append("identifyType",identifyType);
				formData.append("identifyNumber",identifyNumber);
				formData.append("email",email);
				formData.append("gender",gender);
				$.ajax({
					url: "<%= localurl %><%= projectUrl %>updatePersonalInfo",
					type: 'POST',
					data: formData,
					async: true,
					cache: false,
					dataType: 'json',
					contentType: false,
					processData: false,
					success: (data) => {
						if (data.ret == 0) {
							shark.show("更新成功");
						} else {
							shark.show(data.msg);
						}
					},
					complete: function (data) {
						loader.hide();
					},
					error: (data) => {
						shark.show("系统异常,请联系管理员");
					}
				});
            });
            
		});
    </script>
</head>
<body>
<div class="header">
    <span class="icon-carat-b-onwer backIcon" ></span>
    <span class="title">个人信息</span>
</div>
<div class="bodyContent">
    <div class="personalInfo">

        <div class="ui-grid-b oneline">
            <span class="ui-block-a icon iconPhone"></span>
            <span class="ui-block-b ">姓名:</span>
            <span class="ui-block-c input"><input type="text" name="name" class="personalInfo name" data-role="none" placeholder="请输入姓名"
                                                  value="<%=name%>" autocomplete="off"></span>
        </div>

        <div id="identifyTypeDiv" class="ui-grid-b oneline">
            <span class="ui-block-a icon iconPhone"></span>
            <span class="ui-block-b ">证件类型:</span>
            <span class="ui-block-c input"><input type="text" name="identifyType" class="personalInfo identifyType" data-role="none" placeholder="请选择证件类型"  autocomplete="off" value="<%=identifyType%>"  readonly></span>
        </div>

        <div class="ui-grid-b oneline">
            <span class="ui-block-a icon iconPhone"></span>
            <span class="ui-block-b ">证件号码:</span>
            <span class="ui-block-c input"><input type="text" name="identifyNumber" class="personalInfo identifyNumber" data-role="none" placeholder="请输入证件号码"
                                                  value="<%=identifyNumber%>" autocomplete="off"></span>
        </div>

        <div class="ui-grid-b oneline">
            <span class="ui-block-a icon iconPhone"></span>
            <span class="ui-block-b ">邮箱:</span>
            <span class="ui-block-c input"><input type="text" name="email" class="personalInfo email" data-role="none" placeholder="请输入邮箱"
                                                  value="<%=email%>" autocomplete="off"></span>
        </div>

        <div class="ui-grid-b oneline" id="genderDiv">
            <span class="ui-block-a icon iconPhone"></span>
            <span class="ui-block-b ">性别:</span>
            <span class="ui-block-c input"><input type="text" name="gender" class="personalInfo gender" data-role="none" placeholder="请选择性别"  autocomplete="off"
                                                  value="<%=gender%>" readonly></span>
        </div>


    </div>
    <div class="submitDiv">
        <span class="submitButton">保存</span>
    </div>
</div>
</body>
</html>