<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=deivce-width, initial-scale=1"/>
    <title>案件明细</title>
    <%-include("../commonJs.html")%>
    <%-include("../commonCss.html")%>
    <link rel="stylesheet" href="stylesheets/page/AllClaim/ClaimDetail.css">
    <script type="text/babel">
        $(document).ready(function(){
            //回退
            /*************** start  ***************/
            $('.header').on("vclick",".icon-carat-b-onwer", function(){
                var thisJquery = this;
                var action =  $(thisJquery).attr("form-action");
                window.location.href = action;
            });
            /*************** end  ***************/

            //常见问题
            /*************** start  ***************/
            $('.bodyContent').on('vclick','.commonProblem',function(){
                let thisJquery = this;
                let planId = $(thisJquery).attr("planId");
                let formAction;
                formAction =  "ClaimGetPlanQuestionAnswer";
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                var input0 = document.createElement("input");
                input0.type = "text";
                input0.name = "entClaimApplyId";
                input0.value = "<%=claimApply.entClaimApplyId%>";
                var input1 = document.createElement("input");
                input1.type = "text";
                input1.name = "planId";
                input1.value = planId;
                form1.appendChild(input0);
                form1.appendChild(input1);
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();
            });
            /*************** end  ***************/

        });

    </script>
</head>
<body>
<div class="header">
    <span class="icon-carat-b-onwer backIcon" form-action="AllClaim"></span>
    <span class="title">案件明细</span>
</div>
<div class="bodyContent">
    <div class="bodyContentHeader">
        <span class="textInfo"><%=claimApply.entClaimApplyFlowNo%></span>
        <span class="textInfo status"><%=claimApply.entClaimApplyBigStatus%></span>
        <span class="textInfo message"><%=claimApply.entClaimApplySmallStatus%></span>
        <span class="percent percent<%=claimApply.entClaimApplyProgress%>"></span>
    </div>
    <div class="personalInfo">
        <div class="row row1">
            <span>出 险 人&nbsp;</span><span><%=claimApply.name%></span>
        </div>
        <div class="row row2">
            <span>保单号码</span><span><%=claimApply.policyNo%></span>
        </div>
        <div class="row row3">
            <span>出险类型</span><span><%=claimApply.entClaimApplyType%></span>
        </div>
        <div class="row row4">
            <span>申请日期</span><span><%=claimApply.entClaimApplyCreateTime%></span>
        </div>
        <div class="row row5">
            <span>申 请 人&nbsp;</span><span><%=claimApply.entClaimApplyApplier%></span>
        </div>
        <hr />
        <div class="row entClaimApplyApprovedMoney">
            <span class="entClaimApplyApprovedMoneyIcon jiahao"></span><span class="text">赔付金额<span class="money"><%if(claimApply.entClaimApplyApprovedMoney){%><%=claimApply.entClaimApplyApprovedMoney%><%}else{%>0.00<%}%>元</span></span>
        </div>
        <hr />
        <div class="row entClaimApplyAttachNum">
            <span class="entClaimApplyAttachNumIcon jiahao"></span><span class="text">您提交了<span class="money"><%if(claimApply.entClaimApplyAttachNum){%><%=claimApply.entClaimApplyAttachNum%><%}else{%>0<%}%>个</span>&nbsp;&nbsp;影像材料</span>
        </div>
        <hr />
        <div class="row entClaimApplyBank">
            <span class="entClaimApplyBankIcon jiahao"></span><span class="text">[<% if(claimApply.entClaimApplyBankName){%><%=claimApply.entClaimApplyBankName%><%}else{%>- -<%}%>]<%if(claimApply.entClaimApplyBankCard){%><%=claimApply.entClaimApplyBankCard%><%}else{%>- -<%}%></span>
        </div>
    </div>
    <div class="commonProblem" planId="<%=claimApply.planId%>">
        <div class="row" >
            <span class="commonProblemIcon jiahao"></span><span class="text">常见问题</span>
        </div>
    </div>
</div>
</body>
</html>