<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>绑定页面</title>
    <%-include("commonJs.html")%>
    <%-include("commonCss.html")%>
    <link rel="stylesheet" href="stylesheets/page/bingdingPage.css">
    <script type="text/babel">
        $(document).ready(function(){
            //发送验证码
            /*************** start  ***************/
            $('.bodyContent').on("vclick",".sendCode",function () {
                let mobile = $.trim($('#telPhoneNubmerInput').val());
                if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(mobile))) {
                    $('#telPhoneNubmerError').html("请输入正确的手机号");
                    $('#telPhoneNubmerError').show();
                    return false;
                }
                var thisjquery = this;
                $(thisjquery).removeClass("sendCode");
                var time = 10;
                $(thisjquery).text("(120秒)再次发送");
                //通信逻辑
                var formData = new FormData();
                formData.append("telPhoneNubmer",mobile);
                $.ajax({
                    url:  $(thisjquery).attr("form-action"),
                    type: 'POST',
                    data: formData,
                    async: true,
                    cache: false,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: (data) => {
                        if(data.ret == "0"){
                            $('#isSend').val("1");
                            $(".bodyContent").after(` <div class="infoText"><span>`+data.msg+`</span></div>`);
                            $(".infoText").show();
                            setTimeout(function(){
                                $(".infoText").remove();
                            },2000);
                        }
                    },
                    error:  (data) => {
                        alert(data.msg);
                    }
                });

                var i = setInterval(function(){
                    if(--time<0){
                        clearInterval(i);
                        $(thisjquery).text("发送验证码");
                        $(thisjquery).addClass("sendCode");
                        return false;
                    }else{
                        $(thisjquery).text("("+time+"秒)再次发送");
                    }
                },1000)
            });
            /*************** end  ***************/

            //保存
            /*************** start  ***************/
            $('.bodyContent').on('vclick','#binding',function () {
                let thisJquery = this;
                $(thisJquery).removeAttr("id");
                let identifyNubmer  = $.trim($('#identifyNubmerInput').val());
                let mobile = $.trim($('#telPhoneNubmerInput').val());
                let identifyCode  = $.trim($('#identifyCodeInput').val());
                let hasError = false;
                if(identifyNubmer == ""){
                    $('#identifyNubmerError').html("请输入证件号码");
                    $('#identifyNubmerError').show();
                    hasError = true;
                }
                if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(mobile))) {
                    $('#telPhoneNubmerError').html("请输入正确的手机号");
                    $('#telPhoneNubmerError').show();
                    hasError = true;
                }
                if(identifyCode == "") {
                    $('#identifyodeError').html("请输入验证码");
                    $('#identifyodeError').show();
                    hasError = true;
                }
                if($('#isSend').val() != "1"){
                    $('#identifyodeError').html("请先发送验证码");
                    $('#identifyodeError').show();
                    hasError = true;
                }
                if(hasError){
                    $(thisJquery).attr("id","binding");
                    return false;
                }
                var formData = new FormData();
                formData.append("identifyNubmer",identifyNubmer);
                formData.append("telPhoneNubmer",mobile);
                formData.append("identifyCode",identifyCode);
                $.ajax({
                    url: "binding",
                    type: 'POST',
                    data: formData,
                    async: true,
                    cache: false,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: (data) => {
                        if(data.ret == "0"){
                            $(".bodyContent").after(` <div class="infoText"><span>${data.msg}</span></div>`);
                            $(".infoText").show();
                            setTimeout(function(){
                                window.location.href="index";
                            },2000);
                        }else{
                            $(".bodyContent").after(` <div class="infoText"><span>${data.msg}</span></div>`);
                            setTimeout(function(){
                                $(thisJquery).attr("id","binding");
                            },2000);
                        }
                    },
                    complete: function(XMLHttpRequest, textStatus) {
                        $(".infoText").show();
                        setTimeout(function(){
                            $(".infoText").remove();
                        },2000);
                    },
                    error:  (data) => {
                        $(".bodyContent").after(` <div class="infoText"><span>请求失败，稍后再试</span></div>`);
                        setTimeout(function(){
                            $(thisJquery).attr("id","binding");
                        },2000);
                    }
                });

            });
            /*************** end  ***************/

            //点击错误
            /*************** start  ***************/
            $('.inlineRowInput').on('vclick','.BangDingError',function () {
                $(this).hide();
            });
            /*************** end  ***************/
        });
    </script>
</head>
<body>
<div class="header">
    <span class="title">账号绑定</span>
</div>
<div class="bodyContent">
    <div id="identifyNubmer" class="inlineRowInput ui-grid-a">
        <span class="lable  ui-block-a">证件号码</span><input type="text" class="inputText ui-block-b" id="identifyNubmerInput"
                                              name="identifyNubmer" data-role="none" placeholder="请输入身份证号或护照号" />
        <div class="BangDingError" id="identifyNubmerError"></div><!--错误-->
    </div>
    <div id="telPhoneNubmer" class="inlineRowInput ui-grid-a">
        <span class="lable  ui-block-a">手机号码</span><input type="text" class="inputText ui-block-b" id="telPhoneNubmerInput"
                                              name="telPhoneNubmer" data-role="none" placeholder="请输入11位手机号码" />
        <div class="BangDingError" id="telPhoneNubmerError"></div><!--错误-->
    </div>
    <div id="identifyCode" class="inlineRowInput ui-grid-a">
        <span class="lable  ui-block-a">验&nbsp;证&nbsp;码</span><input type="text" class="inputText ui-block-b" id="identifyCodeInput"
                                              name="identifyCode" data-role="none" />
        <input type="hidden" id="isSend" value="0">
        <div class="BangDingError" id="identifyodeError"></div><!--错误-->
        <span class="sendCode" id="sendCode" form-action="sendCode" onclick="">发送验证码</span>
    </div>
    <div class="binding" id="binding" >
        <span>绑定</span>
    </div>
</div>
</body>
</html>