/* 颜色设置 */
.outerScroller .scroll li { /* 上拉下刷列表 */
    background: #ccc;
}
.header{
    background: #208bd8 -webkit-linear-gradient(top,#0f79d1,#3ea9e4);
    font-size: 0.32rem;
}

/* 字体设置 */
@font-face {
    font-family: fullIconAll;
    src: url(./ziti/fullIconAll.woff);
}

.header , .bodyContent{
    text-shadow: none;
}

.header .message span , .header-bottom, .menu, .navigation ,
.header-bottom .row1 .col1 .col11, .header-bottom .row1 .col2 .col12,
.header-bottom .row1 .col3 .col13, .header-bottom .row1 .col4 .col14 {
    font-family: HYQiHeiX1-45W,MyriadProRegular;
    /*font-family: fzlthjw ,Helvetica ;*/
}

/* 修改 jquery mobile*/
div.ui-slider-switch.ui-mini{
    width: 1.3rem ;
    height: 0.58rem ;
    margin: 0.08rem 0 ;
    top: 0 ;
}
div.ui-slider.ui-mini{
    margin: 0.08rem 0 ;
}
div.ui-slider-switch {
    height: 0.64rem ;
    width: 1.856rem ;
    margin: 0.16rem 0 ;
    top: 0  ;
}
div.ui-slider {
    height: 0.6rem ;
    margin: 0.16rem 0 ;
}
.ui-slider-track, .ui-slider-switch {
     height: 0.3rem ;
     margin: 0 0.3rem 0 1.36rem ;
     top: 0.12rem ;
 }
.ui-mini {
    margin-top: 0.08rem  ;
    margin-bottom: 0.08rem  ;
}
.ui-btn-corner-all {
    -webkit-border-radius: 0.32rem   /*{global-radii-buttons}*/;
    border-radius: 0.32rem   /*{global-radii-buttons}*/;
}
.ui-btn-down-c {
    border: 0.02rem solid #bbb    /*{c-bdown-border}*/;
    text-shadow: 0 /*{c-bdown-shadow-x}*/ 0.02rem /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #fff /*{c-bdown-shadow-color}*/  ;
}
.ui-slider-switch.ui-mini .ui-slider-label{
    font-size: 0.28rem ;
}
.ui-slider-switch .ui-slider-label-a {
    z-index: 1 ;
    left: 0 ;
    text-indent: -0.48rem ;
}
.ui-slider-switch .ui-slider-label-b {
    z-index: 0 ;
    right: 0 ;
    text-indent: 0.48rem ;
}
.ui-slider-switch .ui-slider-label {
    width: 100% ;
    overflow: hidden ;
    font-size: 0.32rem ;
    top: 0 ;
    line-height: 2 ;
    min-height: 100% ;
    border-width: 0 ;
}
.ui-btn-active {
    border: 0.02rem solid #2373a5  /*{global-active-border}*/ ;
    background: #33CC99 /*{global-active-background-color}*/;
    font-weight: bold ;
    color: #fff /*{global-active-color}*/;
    cursor: pointer ;
    text-shadow: 0 /*{global-active-shadow-x}*/ 0.02rem /*{global-active-shadow-y}*/ 0 /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/ ;
}
.ui-slider-switch.ui-mini .ui-slider-inneroffset {
    margin: 0 0.3rem 0 0.28rem ;
}
.ui-slider-inneroffset {
    margin: 0 0.32rem ;
    position: relative ;
    z-index: 1 ;
}
.ui-slider-switch.ui-mini .ui-slider-handle {
     width: 0.5rem ;
     height: 0.5rem ;
     margin: 0.02rem 0 0 -0.26rem ;
     padding: 0 ;
 }
.ui-slider-switch .ui-btn.ui-slider-handle {
    margin: 0.02rem 0 0 -0.3rem ;
}
.ui-slider-track .ui-btn.ui-slider-handle, .ui-slider-switch .ui-btn.ui-slider-handle {
    position: absolute ;
    z-index: 1 ;
    top: 50% ;
    width: 0.56rem ;
    height: 0.56rem ;
    margin: 0 0 0 -0.3rem ;
    outline: 0 ;
}
.ui-btn {
    display: block ;
    text-align: center ;
    cursor: pointer ;
    position: relative ;
    margin: 0.16rem 0 ;
    padding: 0 ;
}
.ui-btn-up-c {
    border: 0.02rem solid #ccc /*{c-bup-border}*/;
    background: #eee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: #222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 0.02rem /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
}
/* 其余样式 */
.outerScroller {
    top: 0.856rem !important;
    margin-bottom: 0.856rem !important;
}

.outerScroller .scroll li {
    list-style-type: none;
    height: 0.7rem;
    border-bottom: solid 0.02rem #fff;
    text-align: left;
    line-height: 0.7rem;
    padding-left: 0.3rem;
}

.outerScroller .scroll {
    margin-bottom: 0.856rem !important;
}

.footer {
    background: none;
    font-size: 0.32rem;
    border: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 0.856rem;
    line-height: 0.856rem;
}

.footer span {
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 100%;
    line-height: 0.856rem;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 871229;
}

.header .title {
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 100%;
    line-height: 0.856rem;
    font-size: 0.32rem;
}

#form1 {
    border-radius: 0.5rem;
    background: #fff;
    padding: 0.4rem 0;
}

#form1 #cancel, #form1 #submit {
    text-align: center;
    display: inline-block;
    width: 48%;
    border-radius: 0.5rem;
    line-height: 0.7rem;
    color: #fff;
}

#bankName {
    margin: .5em 0;
    color: grey;
    border: 0.02rem grey solid;
    border-radius: 0.2rem;
    background: #f4f4f4;
    line-height: 1.4em;
    padding: 0.4em;
}

.InputError {
    display: none;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    margin: .5em 0;
    position: relative;
    margin-top: -0.904rem;
    color: red;
    border: 0.02rem red solid;
    border-radius: 0.2rem;
    background: #f4f4f4;
    line-height: 1.4em;
    padding: 0.4em;
}

.bank {
    position: relative;
}

.del {
    background: red;
    text-align: center;
    color: #fff;
    position: absolute;
    right: -1.4rem;
    width: 1.4rem;
}

.selectContainer {
    padding-left: 0;
    margin: 0;
}

.selectContainer li {
    padding-left: 0;
}

.imgdemo {
    width: 0.48rem;
    height: 0.48rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-carat-r {
    width: 0.36rem;
    width: 0.36rem;
    background-repeat: no-repeat;
    background-position: -2.18rem 0;
}

.icon-carat-r-onwer {
    position: absolute;
    margin-top: -0.42rem;
    right: 0.2rem;
    width: 0.48rem;
    height: 0.48rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-carat-l-onwer {
    position: absolute;
    margin-top: -0.42rem;
    left: 0.2rem;
    width: 0.48rem;
    height: 0.48rem;
    background-repeat: no-repeat;
    /*background: url("images/zuojiantou.png") no-repeat;*/
    background-size: 100%;
}

.icon-carat-b-onwer {
    position: absolute;
    left: 0.2rem;
    top: 0.16rem;
    width: 0.48rem;
    height: 0.48rem;
}

.icon-add-onwer {
    position: absolute;
    margin: 0.1rem 0 0.1rem -0.5rem !important;
    width: 0.4rem;
    height: 0.4rem;
    background-repeat: no-repeat;
    /*background: url("images/jiahao.png") no-repeat;*/
    background-size: 100%;
}

.icon-question-onwer {
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    background-repeat: no-repeat;
    /*background: url("images/wenhao.png") no-repeat;*/
    background-size: 100%;
}

.bodyContent {
    font-size: 0.32rem;
    margin-top: 0.848rem;
}

.bodyContent .InfoList {
    background: #ffffff;
    z-index: 100;
    position: relative;
}

.bodyContent .InfoList .row1 {
    padding-top: 0.2rem;
    margin-bottom: 0.08rem;
}

.bodyContent .InfoList .row1 span {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.bodyContent .InfoList .row1 .col2 {
    width: 34%;
}

.bodyContent .InfoList .row2 {
    line-height: 0.1rem;
}

.bodyContent .InfoList .row2 span {
    display: inline-block;
    background: #ffffff;
    line-height: 0.1rem;
    height: 0.1rem;
    width: 33%;
    text-align: center;
}

.bodyContent .InfoList .row2 .col2 {
    width: 34%;
}

.addNew {
    margin: 0.2rem 0.3rem 0 0.3rem ;
    text-align: center;
    border-radius: 0.08rem;
    border: 0.02rem #33CC99 solid;
    color : #33CC99;
    height: 0.6rem;
    line-height: 0.6rem;
}
.addNew span{
    margin-left: 0.25rem;
}
.cue {
    display: inline-block;
    font-size: 0.28rem;
    line-height: 0.28rem;
    color: #A1A1A1;
    height: 0.28rem;
    margin: 0;
    padding: 0;
}

.inlineRowInput {
    border: 0.02rem #d8d8d8 solid;
    padding: 2.5% 3.25%;
    background: #ffffff;
    border-bottom: 0;
    box-sizing: border-box;
}

.inlineRowInput .lable {
    color: #A1A1A1;
    font-size: 0.32rem;
    line-height: 0.32rem;
    height: 0.32rem;
    text-align: left;
    width: 30%;
}

.inlineRowInput .inputText, .inlineRowInput .choice {
    font-size: 0.32rem;
    width: 70%;
    border: none;
    outline: none;
    line-height: 0.32rem;
    height: 0.32rem;
}
.infoText {
    z-index: 871229;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 1rem;
    font-size: 0.32rem;
    display: none;
}
.infoText span{
    margin: 0 auto;
    display: block;
    background: #cfcfcf;
    padding: 0.2rem 0;
    width: 100%;
}
.header-cancel, .header-save{
    position: absolute;
    color: #ffffff;
    height: 0.848rem;
    line-height: 0.848rem;
    margin-left: 0.4rem;
    font-size: 0.28rem;
}
.header-save{
    top: 0;
    right: 0;
    margin-right: 0.4rem;
}


/*修改input placeholder*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #A1A1A1;
    font-size: 0.28rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #A1A1A1;
    font-size: 0.28rem;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #A1A1A1;
    font-size: 0.28rem;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #A1A1A1;
    font-size: 0.28rem;
}
.bodyContent .inlineRowInput input{
    color: #A1A1A1 !important;
}

/* 修改 input number 的上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

/*遮罩层*/
#screen {
    height: 100%;
    width: 100%;
    z-index: 9871229;
    position: fixed;
    top:0;
    opacity:0.5;
    background-color: gray;
}

#screen #screenLoading{
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.backIcon:before{
    font-family: fullIconAll !important;
    color: #ffffff;
    line-height: 0.48rem;
    font-size: 0.32rem;
    content: "\f053";
}

.bottomTag{
    position: fixed;
    width: 100%;
    bottom:  0;
    height: 0.8rem;
    line-height: 0.8rem;
    border-top: 0.02rem solid #a1a1a1;
}
.bottomTag span{
    text-align: center;
    background-color: #ffffff;
    border-right: 0.02rem solid #a1a1a1;
}
.bottomTag span:last-child{
    border-right: none;
}
.bottomTag .active{
    background: #208bd8 -webkit-linear-gradient(top,#0f79d1,#3ea9e4);
    color: #ffffff;
}