<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>申请赔案</title>
    <%-include("../commonJs.html")%>
    <%-include("../commonCss.html")%>
    <link rel="stylesheet" href="stylesheets/page/ApplyClaim/ApplyMedicineClaimStep3.css">
    <script type="text/babel" >
        $(document).ready(function () {
            $('.bodyContent').on("vclick",".nextStep",function(){
                let thisJquery = this;
                var formAction =  $(thisJquery).attr("form-action");
                var form1 = document.createElement("form");
                form1.id = "VirtualForm";
                form1.name = "VirtualForm";
                document.body.appendChild(form1);
                $("#VirtualForm").css("display", "none");
                form1.method = "POST";
                form1.action = formAction;
                form1.submit();
            })
        });

    </script>
</head>
<body>
<div class="header">
    <span class="title">人身险理赔申请</span>
</div>
<div class="bodyContent">
    <div class="schedule">
        <div class="img"></div>
        <span>填写信息</span>
        <span>上传影像</span>
        <span>完成</span>
    </div>

    <div class="entClaimApplySuccess">
        <span class="entClaimApplyNo">赔案号:<%=entClaimApplyFlowNo%></span>
        <span class="ClaimRecord"></span>
        <span class="successText">理赔申请已成功</span>
        <span class="notice">请您耐心等待，我们将尽快对于相关资料进行审核</span>
    </div>

    <div class="nextStep" form-action="AllClaim" >
        <span>返回个人中心</span>
    </div>
</div>


</body>
</html>